{% extends 'store/base.html' %}
{% load static %}
{% block css %}
<style>
    body {
        background-color: bisque ;
    }
</style>{% endblock css %}
{% block content %}
<div class="container">
    <div class="row mx-4 mt-3">
        <h2 class="text-center" >Contact Bookshop</h2>
        <div class="col-sm-4 mt-2">
            <div class="card mx-2">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Address</h5> <hr>
                    <p class="card-text"> Visava building , plot-no-445 <br> Viman nagar, Pune <br> Maharashtra, India </p>

                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-2">
            <div class="card mx-2">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Phone</h5> <hr>
                    <p class="card-text"> 2045455 , 454454 <br>
                        +91 4545655787 <br> Call receive between : 10 AM to 5 PM</p>

                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-2">
            <div class="card mx-2">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Email</h5><hr> 
                    <p class="card-text">  Business Related :chetan@gmail.com <br>
                       Customer Compliant : compliantbookshop@gmail.com</p>

                </div>
            </div>
        </div>

    </div>





</div>

{% endblock content %}