{% extends 'store/base.html' %}
{% load static %}
{% block css %} {% endblock css %}
{% block content %}
<!-- orginal code -->
 <div class="container">
    <div class="p-2 m-2">
        <div class="col-lg-5 mx-auto">
            <!-- <h4 class="text-center text-white alert bg-info mt-4">Bookshop</h4> -->
            {% if messages %}
            {% for message in messages %}
            <small {% if message.tags %} class="{message.tags}" {% endif %}>
                {{message}}
            </small>
            {% endfor %}
            {% endif %}
            <div class="card border-primary" style="width: 33rem;">
                <div class="card-body">
                  <h5 class="card-title">Login</h5>
                  <p class="card-text"> <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                     {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
                    {% endfor %}
                    <input id="button"  type="submit" class="btn btn-success" value="Submit">
                    <a id="button"  class="text-center text-white btn btn-success" href="{% url 'signup' %}">Signup</a>
                </form></p>
                </div>
              </div>
        </div>
    </div>
</div> 
{% endblock content %}

